/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Paleta de cores */
:root {
	--cor1: #DA3FAA;
	--cor2: #C8C8C8;
	--cor3: #282828;
	--cor4: #787878;
	--cor5: #02FDDD;
	--cor6: #6FD04D;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* Configurações do cabeçalho */
.header {
	width: 100vw;
	height: 15vh;
	background-color: var(--cor3);
}

/* Configurações do botão de menu */

nav {
	position: sticky;
	top: -1%;
	width: 100vw;
	background-color: var(--cor4);
}

nav div {
	display: flex;
	justify-content: center;
}
nav button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 5vh;
	margin: 5px 0;
	border: 1px solid lightgray;
	background-color: var(--cor4);
	cursor: pointer;
}

.linha {
	background-color: white;
	display: block;
	margin: 1px;
	width: 16px;
	height: 3px;
	transform-origin: center;
	transition: 0.2s;
}

button.ativar .linha:nth-child(1){
	transform: translateY(2px) rotate(-45deg);
	background-color: red;
}

button.ativar .linha:nth-child(3){
	transform: rotate(45deg);
	background-color: red;
	position: absolute;
}

button.ativar .linha:nth-child(2){
	width: 0;
}

.div-menu {
	position: sticky;
	top: 6%;
}

div .menu {
	visibility: hidden;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.89);
	width: 100vw;
	height: 0;
	transition: .6s;
	text-align: center;
	overflow: hidden;
}

.menu.mostrar {
	visibility: visible;
	height: 1200px;
}

div .menu li {
	color: black;
	padding: 15px 0;
	cursor: pointer;
}

.menu li:hover {
	background-color: var(--cor3);
	color: var(--cor5);
}

.menu li a {
	text-decoration: none;
	color: inherit;
}
/* ------------------ */
main {
	width: 100vw;
	background-color: white;
	min-height: 1200px;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 5vh;
	background-color: var(--cor4);
}

footer p {
	font-style: italic;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
}

/* quemSouEu
projetos
contato */